@import "tailwindcss";

@theme {
    --color-travel-50: #F7FCE8;
    --color-travel-100: #EFF9D2;
    --color-travel-200: #E0F4A4;
    --color-travel-300: #D0EE77;
    --color-travel-400: #C1E949;
    --color-travel-500: #B1E31C;
    --color-travel-600: #8EB616;
    --color-travel-700: #6A8811;
    --color-travel-800: #475B0B;
    --color-travel-900: #232D06;
    --color-travel-950: #192004;
}