@import "tailwindcss";

@theme {
    --color-travel-50: #F3F7ED;
    --color-travel-100: #E8F0DB;
    --color-travel-200: #D1E1B7;
    --color-travel-300: #BAD293;
    --color-travel-400: #A3C36F;
    --color-travel-500: #8CB44B;
    --color-travel-600: #70903C;
    --color-travel-700: #546C2D;
    --color-travel-800: #38481E;
    --color-travel-900: #1C240F;
    --color-travel-950: #14190B;
}